/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

* {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #000000;
  color: rgb(166, 128, 78);
}

a {
  color: rgb(0, 160, 83); 
}

.xc{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.h1{
  text-align: center;
  font-size: 70px;
  margin:0;
}

.background-vid{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  background-size: cover;
  opacity: 0.7;;
}

.titleshit{
  position: relative;
  z-index: 1;
  padding-top: 20vh;
  text-align: center;
  top: 20%;
  color: rgb(17, 153, 67);
  text-shadow: rgb(184, 217, 198);
}

.navbar-container{
  text-align: right;
  position: sticky;
  width: 100%;
  background-color: transparent(0, 0, 0, 0.8);
  z-index: 2;
}
.navba{
  position: sticky;
  z-index: 1;
  width: 500px;
  padding: 0px;
  margin: 0px;
  background: transparent;

}